<p>
    <mat-form-field [formGroup]="fmGroup" *ngIf="isValid" [ngClass]="classNames" appearance="legacy">
        <mat-label>
            <ng-content></ng-content>
        </mat-label>
        <input formControlName="{{fmControlName}}" class="py-1" readonly="{{isRead}}" matInput type="{{inputType}}" placeholder="{{inputHint}}">
        <mat-error 
            *ngIf="(fmGroup.invalid  || (fm.submitted && fmGroup.get(fmControlName).invalid))">
            {{inputError}}
        </mat-error>
    </mat-form-field>
    <span *ngIf="!isValid">Can't create field input</span>
</p>
