<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <div class="col-3">
                <h3>ORDERS</h3>
            </div>
            <div class="col-4">
                <div class="ml-auto">
                    <mat-form-field class="w-80">
                        <input matInput placeholder="Date" [satDatepicker]="picker" [(ngModel)]="dateRange" (dateChange)="onChangeDate()"
                            [value]="dateRange">
                        <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <app-container [config]="container">
            <div>
                <table mat-table [dataSource]="tableData">
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef>Order Id</th>
                        <td mat-cell *matCellDef="let item">{{item.id}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let item">{{item.questName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Phone">
                        <th mat-header-cell *matHeaderCellDef>Phone number</th>
                        <td mat-cell *matCellDef="let item">{{item.questPhone}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Province">
                        <th mat-header-cell *matHeaderCellDef>Province</th>
                        <td mat-cell *matCellDef="let item">{{getProvince(item)}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="User">
                        <th mat-header-cell *matHeaderCellDef>Type Quest</th>
                        <td mat-cell *matCellDef="let item">{{getUser(item) }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="Payment">
                        <th mat-header-cell *matHeaderCellDef>Payment</th>
                        <td mat-cell *matCellDef="let item">{{getMethodPay(item)}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef style="width:150px">Promotion</th>
                        <td mat-cell *matCellDef="let item" class="text-center">
                            <app-dropdown [listItem]="listStatus" [defName]="getStatus(item)"
                                (choose)="onChangeStaus($event, item)"></app-dropdown>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef style="width:200px"></th>
                        <td mat-cell *matCellDef="let item" class="text-center">
                            <a routerLink="../order-detail/{{item.id}}" class="text-2 btn-icon blue pr-3 pr-lg-5">
                                <i class="las la-chevron-circle-right"></i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="['Id','Name' ,'Phone','Province','User','Payment','Status','Action']">
                    </tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['Id','Name' ,'Phone','Province','User','Payment','Status','Action'];">
                    </tr>
                </table>
                <mat-paginator [ngClass]=" listOrder && listOrder ?.length > 5 ? '': 'hide'"
                    [pageSizeOptions]="[5, 10, 15]">
                </mat-paginator>
            </div>
        </app-container>
    </div>
</div>