<app-banner [titlePage]="titlePage"></app-banner>
<div *ngIf="isLoadOrder && order==null" class="container" style="padding:16em 0;" >
    <app-loader></app-loader>
</div>
<!---->
<div *ngIf="!isLoadOrder && order ==null" class="container">
    <div class="cart contents">    
        <!-- Cart - Shopping -->
        <div class="section">
            <!--Cart - Header List-->
            <div class="d-flex align-items-center">
                <h3 class="mb-4">Product</h3>
                <p class="ml-auto"> <span > {{quantityVal}} </span> items<p>
            </div>
            <!--Cart - List Item-->
            <div id="cart-container">
                <app-loader *ngIf="!isLoaded"></app-loader>
                <p class="text-center py-5" *ngIf="isLoaded && listItem?.length == 0">Not item in cart</p>
                <div  *ngIf="isLoaded && listItem?.length > 0">
                    <app-cart-item *ngFor="let item of listItem" [itemId]="item.productId" (remove)="onRemoveItem($event)" ></app-cart-item>
                </div>
            </div>
        </div>            
        <!-- Bill Info-->
        <div id="bill" class="section">
            <div class="row mb-4">
                <div class="col-12 col-lg-6 order-lg-1 section">
                    <table class="table text-right">
                        <tbody >
                            <tr>
                                <td>TTotal Order</td> 
                                <td>
                                    <paser-value [rawVal]="totalAmountVal"></paser-value>
                                </td> 
                            </tr>
                            <tr>
                                <td>Giảm giá Bill</td> 
                                <td>
                                    <paser-value [rawVal]="promtionVal"></paser-value>
                                </td> 
                            </tr>
                            <tr *ngFor="let item of listFees">
                                <td>{{item.name}}</td> 
                                <td>
                                    <paser-value [rawVal]="item.cost"></paser-value>
                                </td> 
                            </tr>
                            <tr class="bold">
                                <td>Thanh Toán</td> 
                                <td class="red text-4">
                                    <paser-value [rawVal]="totalPayVal"></paser-value>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Form-->
                <div class="col-12 col-lg-6 order-lg-0">
                    <h3 class="mb-4">Thông tin giao hàng</h3>    
                    <form [formGroup]="questForm" #formData="ngForm" (ngSubmit)="onSubmit()" >
                        <p>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Tên người nhận</mat-label>
                                <input matInput formControlName="questName" placeholder="Placeholder">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Số điện thoại</mat-label>
                                <input matInput formControlName="questPhone" type="tel" placeholder="Placeholder">
                            </mat-form-field>    
                        </p>
                        <p>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="questEmail" type="email" placeholder="Placeholder">
                            </mat-form-field>
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Chọn Tỉnh/TP</mat-label>
                                    <mat-select #input (valueChange)="onProvinceChange(input.value)" formControlName="questProvince" >
                                        <mat-option *ngFor="let province of listProvince" [value]="province.code">
                                            {{province.name}}
                                        </mat-option>
                                    </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Quận/Huyện</mat-label>
                                    <mat-select  formControlName="questDistrict" >
                                        <mat-option *ngFor="let district of listdDistrict" [value]="district.code">
                                            {{district.name}}
                                        </mat-option>
                                    </mat-select>
                              </mat-form-field>
                            </div>
                        </div>
                        <p>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Số nhà, tên đường (hoặc địa chỉ cụ thể)</mat-label>
                                <input matInput formControlName="questAddress" placeholder="Placeholder">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Note</mat-label>
                                <textarea matInput rows="3" formControlName="note" placeholder="Placeholder"></textarea>
                            </mat-form-field>
                        </p>                
                    </form>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-lg bg-black white border-none" (click)="formData.onSubmit()"> Order </button>
            </div>
        </div>
    </div> 
</div>
<!---->
<div *ngIf="order!=null">
    <div class="container"><a class="link blue" (click)="onBackToCart()" > Back to cart</a> </div> 
    <app-order-detail [order]="order"></app-order-detail>
</div>
