/*============= ?loading=============*/
.loader {
    display: inline-block;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #111111;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
    left: -24px;
    animation: anim-circle1 0.6s infinite;
}

.loader div:nth-child(2) {
    left: -24px;
    animation: anim-circle2 0.6s infinite;
}

.loader div:nth-child(3) {
    left: 0px;
    animation: anim-circle2 0.6s infinite;
}

.loader div:nth-child(4) {
    left: 16px;
    animation: anim-circle3 0.6s infinite;
}

@keyframes anim-circle1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes anim-circle2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@keyframes anim-circle3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
