<!--Slider-->
<!-- <div class="container-fluid section">
    <div class="slider">
        <div class="slider-container">
            <div class="slider-handle">
                <div class="img slider-item">
                    <img src="~/images/slider_1.jpg"  >
                </div>
                <div class="img slider-item">
                    <img src="~/images/slider_2.jpg"  >
                </div>
                <div  class="img slider-item">
                    <img src="~/images/slider_3.jpg" >
                </div>
            </div>
        </div>
        <a class="arrow-prev white"><i class="las la-angle-left"></i></a>
        <a class="arrow-next white"><i class="las la-angle-right"></i></a>
    </div>
</div> -->

<div style="height: 650px; background-image: url('/api/images/home.jpg'); background-size: cover;" class="section"  >
</div>