<div class="card">
    <div class="card-header">
        <h3 class="mb-4">Thông tin cửa hàng</h3>
    </div>
    <div class="card-content">    
        <form #form [formGroup]="formValidate"(submit)="onSubmit()" *ngIf="isLoaded" #ngFrom="ngForm"   >    
            <div class="row mb-5">
                <div class="col-lg-8">
                    <p>
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>Tên cửa hàng</mat-label>
                            <input  formControlName="nameStore" class="py-1" matInput  type="text" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('nameStore').invalid)">
                                Không được để trống                   
                            </mat-error>
                        </mat-form-field>
                    </p>

    
                    <p>
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>Email</mat-label>
                            <input  formControlName="email"  class="py-1" matInput  type="text" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('email').invalid)">
                                Không được để trống                     
                            </mat-error>
                        </mat-form-field>
                    </p>
    
                    <p>
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>Link facebook</mat-label>
                            <input  formControlName="facebook"  class="py-1" matInput  type="text" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('facebook').invalid)">
                                Không được để trống                     
                            </mat-error>
                        </mat-form-field>
                    </p>
    
                    <p>
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>Link messenger</mat-label>
                            <input  formControlName="messenger"  class="py-1" matInput  type="text" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('messenger').invalid)">
                                Không được để trống                    
                            </mat-error>
                        </mat-form-field>
                    </p>
    
                    <p>
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>Số điện thoại cửa hàng</mat-label>
                            <input  formControlName="phone"  class="py-1" matInput  type="tel" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('phone').invalid)">
                                Không được để trống                  
                            </mat-error>
                        </mat-form-field>
                    </p>
    
                    <p>
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>Địa chỉ cửa hàng</mat-label>
                            <input  formControlName="address"  class="py-1" matInput  type="text" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('address').invalid)">
                                Không được để trống                  
                            </mat-error>
                        </mat-form-field>
                    </p>
    
                    <p>
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>Thời gian làm việc</mat-label>
                            <input  formControlName="workTime"  class="py-1" matInput  type="text" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('workTime').invalid)">
                                Không được để trống                  
                            </mat-error>
                        </mat-form-field>
                    </p>
    
                    <h3 class="mb-4">Thông tin SEO</h3>
                    <p class="mb-3">
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>SEO Title</mat-label>
                            <input class="py-1" formControlName="seoTitle" matInput  type="text" placeholder="Placeholder" required>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('seoTitle').invalid)">
                                Không được để trống                         
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p class="mb-3">
                        <mat-form-field class="w-80" appearance="legacy">
                            <mat-label>SEO Description</mat-label>
                            <textarea class="py-1" formControlName="seoDescription" matInput rows="3" placeholder="Placeholder" required></textarea>
                            <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('seoDescription').invalid)">
                                Không được để trống                          
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <!--Image input-->
                    <div class="mb-3">
                        <app-input-image [resRoot]="fileServcie.rootPath" [resImage]="info.seoImage" (onUpload)="onChangeFile($event)" (onRemove)="onRemoveFile()" ></app-input-image>
                        <!-- <input #inputImage (change)="onChangeFile(inputImage)" class="py-1 border-none"  type="file" placeholder="Placeholder" required> -->
                    </div>
                </div>
                <div class="col-lg-4">
                     <!--Image input-->
                     <div class="mb-3">
                         <span>Logo</span>
                        <app-input-image [resRoot]="fileServcie.rootPath" [resImage]="info.logo" (onUpload)="onChangeLogo($event)" (onRemove)="onRemoveLogo()" ></app-input-image>
                        <!-- <input #inputLogo (change)="onChangeLogo(inputLogo)" class="py-1 border-none"  type="file" placeholder="Placeholder" required> -->
                    </div>
                </div>
            </div>
            <div >
                <button (click)="onSubmit($event)"  class="btn btn-sm bg-blue white px-lg-4 mr-3" type="submit"> Lưu </button>
            </div>
        </form>
        <div class="py-5">
            <app-loader *ngIf="!isLoaded"></app-loader>
        </div>
    </div>
</div>


