<div class="row">
    <div class="col-3">
        <mat-form-field class="w-100" floatLabel='never' appearance="outline">
            <input type="text" placeholder="Pick one" matInput [formControl]="productCtrl" [matAutocomplete]="auto">
            <mat-autocomplete   autoActiveFirstOption #auto="matAutocomplete">
                <mat-option #inp (onSelectionChange)="onSelectProd(inp.value)" 
                    *ngFor="let option of filteredOptions | async" [value]="option.id+',  '+ option.name">
                    {{option.id+',  '+ option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="col-2">
        <mat-form-field [formGroup]="impCtrl" floatLabel='never'  class="w-80" appearance="outline">
            <mat-select formControlName="productId"  >
              <mat-option (onSelectionChange)="onChangeColor(attr.id)" *ngFor="let attr of lsAttribute" [value]="attr.id">{{attr.color}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-2">
        <mat-form-field [formGroup]="impCtrl" [formControl] floatLabel='never'  class="w-80" appearance="outline">
           <input formControlName="quantity" matInput type="number" placeholder="Quantity">
          </mat-form-field>
    </div>
    <div class="col-2">
        <mat-form-field [formGroup]="impCtrl" [floatLabel]="'nerver'"  class="w-80" appearance="outline">
           <input formControlName="price" matInput type="number" placeholder="Price">
          </mat-form-field>
    </div>
    <div class="col-2">
        <a class="btn btn-sm bg-red white" (click)="onDelete.emit()">Delete</a>
    </div>
</div>