@import '../../../../../color.scss';

// /*========== nav ==========*/
.nav-icon {
    padding: 0.75em 1.5em !important;
}

@media only screen and (min-width: 62em) {
    .nav-item {
        max-height: 3em;
    }
}

.nav-item {
    position: relative;
    font-size: 1em;
    color: $color-black;
    padding: 1em 1.5em;
    text-transform: capitalize;
    &::after {
        content: "";
        left: 50%;
        right: 50%;
        bottom: 0;
        height: 2px;
        background-color: $color-red;
        position: absolute;
        transition: all 0.5s;
        display: block;
    }

    &:hover::after {
        right: 15%;
        left: 15%;
    }

    &:hover {
        color: $color-red;
    }
}

.nav-mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: fixed;
    //
    .nav-container {
        top: 0;
        left: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        padding-top: 2em;
        position: relative;
        text-transform: capitalize;
        justify-content: flex-start;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: 102;
    }
    &.hide-item {
        transition-delay: 0.3s;
    }

    &.show-item > .nav-container {
        transform: translateX(0);
    }

    .btn-classic {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25em;
    }

    .overlay {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100vw;
        opacity: 0.3;
        z-index: 101;
    }
}