<app-slider ></app-slider>
<div class="container section">
    <div class="row">
        <div class="col-lg-6">
            <div style="height: 250px; background-color: #333;"></div>
        </div>
        <div class="col-lg-6">
            <div style="height: 250px; background-color: #333;"></div>
        </div>
    </div>
</div>
<!--Best seller-->
<div class="container section">
    <div class="d-flex align-items-end px-3 px-lg-0">
        <h1 style="line-height: 1;">Best Seller</h1>
    </div>
</div>
<div class=" container">
    <app-loader style="height: 300px;" *ngIf="listSeller==null"></app-loader>
    <p *ngIf="listSeller!=null &&listSeller.length==0" class="text-center" style="line-height: 25;">Data is null</p>    
</div>
<app-list-product *ngIf="listSeller!=null &&listSeller.length>0" [isFilter]="false" [isPage]="false" [products]="listSeller" ></app-list-product>
<!--Discount-->
<div class="container section">
    <div class="d-flex  justify-content-between align-items-end px-3 px-lg-0">
        <h1 style="line-height: 1;">On saleoff</h1>
        <a routerLink="discount" class="link blue">More</a>
    </div>
</div>
<div class=" container">
    <app-loader style="height: 300px;" *ngIf="listDiscount==null"></app-loader>
    <p *ngIf="listDiscount!=null &&listDiscount.length==0" class="text-center" style="line-height: 25;">Data is null</p>    
</div>
<app-list-product *ngIf="listDiscount!=null &&listDiscount.length>0" [isFilter]="false" [isPage]="false" ></app-list-product>

