<div class="card">
    <div class="card-header">
        <h3 class="mb-4">Thông tin phân loại</h3>
    </div>
    <div class="card-content">    
        <div class="row">
            <div class="col-lg-8 pr-lg-5" style="padding-top: 0.8em;">
                <p *ngIf="!itemSelected" class="py-5 text-center">Chọn một phân loại</p>
                <div *ngIf="isLoaded && itemSelected">
                    <form #form [formGroup]="formValidate"(submit)="onSubmit()"  #ngFrom="ngForm"  >    
                        <div class="mb-5">
                            <input #itemId type="hidden" formControlName="id" >
                            <p>
                  a              <mat-form-field class="w-60" appearance="legacy">
                                    <mat-label>Tên phân loại</mat-label>
                                    <input  formControlName="name"  class="py-1" matInput  type="text" placeholder="Placeholder" required>
                                    <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('name').invalid)">
                                        Vui lòng nhập tên phân loại                      
                                    </mat-error>
                                </mat-form-field>
                            </p>
                
                            <p class="mb-3">
                                <mat-form-field class="w-60" appearance="legacy">
                                    <mat-label>SEO Title</mat-label>
                                    <input class="py-1" formControlName="seoTitle" matInput  type="text" placeholder="Placeholder" required>
                                    <mat-error *ngIf="formValidate.invalid ||(ngFrom.submitted && formValidate.get('seoTitle').invalid) ">
                                        Vui lòng nhập SEO Title                            
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p class="mb-3">
                                <mat-form-field class="w-60" appearance="legacy">
                                    <mat-label>SEO Description</mat-label>
                                    <textarea class="py-1" formControlName="seoDescription" matInput rows="3" placeholder="Placeholder" required></textarea>
                                    <mat-error *ngIf="formValidate.invalid || (ngFrom.submitted && formValidate.get('seoDescription').invalid)">
                                        Vui lòng nhập SEO Description                           
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <!--Image input-->
                            <!-- <app-input-image [resRoot]="fileServcie.rootPath" [resImage]="itemSelected?.seoImage" (onUpload)="onChangeFile($event)" (onRemove)="onRemoveFile()" ></app-input-image> -->
                        </div>      
                        <div >
                            <button  (click)="onSubmit($event)" class="btn btn-sm bg-blue white px-lg-4 mr-3" type="submit"> Lưu </button>
                            <button class="btn btn-sm bg-red white px-lg-4" type="button" (click)="onReset($event)" >Huỷ</button>
                        </div>
                    </form>
                </div>   
                <div class="py-5">
                    <app-loader *ngIf="!isLoaded && itemSelected!=null"></app-loader>
                </div>
            </div>
            <div class="col-lg-4">										
                <table mat-table [dataSource]="tableData">
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let item">{{item.id}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Tên phân loại</th>
                        <td mat-cell *matCellDef="let item">{{item.name}}</td>
                    </ng-container>            
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef style="width:150px"></th>
                        <td mat-cell *matCellDef="let item" class="text-center">
                            <span (click)="onShowDetail(item.id)" class="btn-icon text-3 blue pr-3 pr-lg-5">
                                <i class="las la-pen"></i>
                            </span>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['Id', 'Name','Action']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['Id', 'Name','Action'];" ></tr>
                </table>  
                <p *ngIf="isLoaded &&listCates?.length ==0" class="text-center py-5 empty">Không có dữ liệu</p> 
                <div class="py-5">
                    <app-loader *ngIf="!isLoaded && listCates == null"></app-loader>
                </div>
            </div>
        </div>	
    </div>
</div>


