<!-- <app-loader></app-loader> -->
<h3 class="page-title mt-4">Phí</h3>
<!--Fee-->
<div ng-hide ="tabId != 1" class="card">
    <div class="card-header"></div>
    <div class="card-content">    
        <div class="row">
            <div class="col-lg-6 pr-lg-5">
                <h3 class="mb-4">Thông tin phí</h3>
                <form #form [formGroup]="feeForm"(submit)="onSubmit()" >    
                    <div class="mb-5">
                        <p>
                            <mat-form-field class="w-60" appearance="legacy">
                                <mat-label>Tên loại phí</mat-label>
                                <input  formControlName="name"  class="py-1" matInput  type="text" placeholder="Placeholder" required>
                                <mat-error *ngIf="feeForm.invalid">
                                    Vui lòng nhập tên loại phí                            
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p class="mb-3">
                            <mat-form-field class="w-60" appearance="legacy">
                                <mat-label>Mức phí</mat-label>
                                <input class="py-1" formControlName="cost" matInput  type="number" placeholder="Placeholder" required>
                                <mat-error *ngIf="feeForm.invalid">
                                    Vui lòng nhập tên loại phí                            
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p >
                            <mat-radio-group class="pr-3" formControlName="suffix" required>
                                <mat-radio-button class="pr-3" value="currency"> VNĐ </mat-radio-button>
                                <mat-radio-button value="precent"> %</mat-radio-button>
                            </mat-radio-group>
                        </p>
                    </div>      
                    <div >
                        <button [disabled]="feeForm.invalid" class="btn btn-sm bg-blue white px-lg-4 mr-3" type="submit" >Thêm</button>
                        <button class="btn btn-sm bg-red white px-lg-4" type="button" (click)="onCancel()" >Huỷ</button>
                    </div>
                <!-- <button type="submit" [disabled]="!feeForm.valid" >Submit</button> -->
                </form>
            </div>
            <div class="col-lg-6">										
                <table class="table table-data mb-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên loại dây</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data">
                            <!-- <td style="width: 100px;" scope="row">{{item.id}}</td>
                            <td ng-click="onShowDetail(item)"><p>{{item.name}}</p></td>             
                            <td class="text-right">
                                <i ng-click="onRemove(item.id)" class="btn red big-icon icon las la-times"></i>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>	
    </div>
</div>
                
