a[class^="btn"]:hover {
    background-color: black;
    color: white !important;
    border-radius: 6px;
}

.cart-item {
    border-bottom: 1px solid #111;
    padding: 1em 0;
}

.btn-add:active i{
    transform: translateY(-15%);
}

.btn-subtract:active i{
    transform: translateY(15%);
}


#bill .table tr td:last-child {
    text-align: right;
}

#bill .btn {
    min-width: 250px;
}
