.dropdown {
    width: 175px;
    display: inline-block;
    border-radius: 1px;
    transition: all 0.5s ease;
    position: relative;
    font-size: 1em;
    text-align: left;
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 1em;
}

.dropdown .select > i {
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    line-height: 1em;
    float: right;
}

.dropdown:focus {
    outline: none;
}

// .dropdown:hover {
//     // box-shadow: 0 0 4px rgb(204, 204, 204);
// }

.dropdown.active .select > i {
    transform: rotate(-90deg);
}

.dropdown .dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 3px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    overflow-y: scroll;
    z-index: 299;
    max-height: 220px;
    padding: 0;
    list-style: none;
}

.dropdown .dropdown-menu li {
    padding: 1em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2;
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2;
}
