@import './color.scss';

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #111;
}
.mat-snack-bar-container {
    background-color: white !important;
    box-shadow: 0 0 6px -2px #111;
}

/*========== reboot ==========*/
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.img {
    font-size: 0;
}

img {
    max-width: 100%;
}

/*?form-input*/
input,
textarea {
    width: 100%;
    border: 2px solid $color-secondary;
    border-radius: 5px;
    padding: 0.75em 1em;
}

input:focus {
    outline: none;
}

// /*?form-validate*/
// label {
//     margin-bottom: 1em;
//     display: inline-block;
// }

// input:focus + span {
//     display: block;
// }

// input + span {
//     display: none;
// }

// input:invalid {
//     box-shadow: none;
// }

// .control-input.validate {
//     position: relative;
// }

// .control-input.validate > span {
//     position: absolute;
//     top: 0;
//     right: 0;
// }

// .input-invalid:invalid,
// .select.input-invalid {
//     border: 2px solid #ffa39e !important;
//     box-shadow: none;
// }

// .error {
//     color: $color-red;
// }

// input:valid + span .error,
// .local.valid span .error {
//     display: none;
// }

// input:valid + span::before,
// .local.valid > span::before {
//     content: "✔";
//     color: green;
// }

/*========== spacing ==========*/
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    line-height: 1.5;
}

p {
    margin-bottom: 1em;
    line-height: 2;
    font-weight: 300;
}

/*========== sizing ==========*/
h1,
.text-1 {
    font-size: 1.75em;
}

h2,
.text-2 {
    font-size: 1.5em;
}

h3,
.text-3 {
    font-size: 1.25em;
}

h4,
.text-4 {
    font-size: 1em;
}

.text-sub {
    font-size: 0.875em;
}

.icon {
    font-size: 24px;
}

.big-icon {
    font-size: 28px;
}

@media only screen and (min-width: 62em) {
    h1,
    .text-1 {
        font-size: 2em;
    }

    h2,
    .text-2 {
        font-size: 1.75em;
    }

    h3,
    .text-3 {
        font-size: 1.5em;
    }

    h4,
    .text-4 {
        font-size: 1.25em;
    }

    h5 {
        font-size: 1.125em;
    }
}

/*========== ui-element ==========*/
/*?img*/
.img-content {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.img-content .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aquamarine;
}

.img-content img {
    transition: transform 0.2s;
}

@media only screen and (min-width: 62em) {
    .img-content:hover img {
        transform: scale(1.3);
    }
}

/*?button*/
button {
    border: none;
    box-shadow: none;
}

button:focus {
    outline: none;
}
.btn-icon {
    transition: all 0.2s;
    cursor: pointer;
}

.btn,
.btn-classic {
    border-radius: 6px;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    min-width: 100px;
}

.btn-sm {
    padding: 0.5em 1em;
}

.btn-lg {
    padding: 1em 2.5em;
}

.btn:hover {
    box-shadow: 1px 1px 7px -2px black;
}

.btn:active,
.btn-icon:active {
    transform: scale(0.95);
}

/*?border*/
.border {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.border-black {
    border: 1px solid $color-black;
}

.border-none {
    border: none !important;
    box-shadow: none !important;
}

/*?text-color*/
.black {
    color: #111111 !important;
}

.red {
    color: #f5222d !important;
}

.white {
    color: #fff !important;
}

.blue {
    color: #2196f3 !important;
}

.placeholder {
    opacity: 0.6;
}

.muted {
    opacity: 0.6;
    pointer-events: none;
}

/*?backround-color*/
.bg-red {
    background-color: #f5222d;
}

.bg-black {
    background-color: #111111;
}

.bg-white {
    background-color: #fff;
}

.bg-empty {
    background-color: #fafafa;
}

.bg-blue {
    background-color: #2196f3;
}

/*========== helpful ==========*/
.w-100 {
    width: 100%;
}
.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.show-item {
    opacity: 100 !important;
    z-index: 100 !important;
    pointer-events: all !important;
}

.middle-inline > * {
    vertical-align: middle;
}

.contents {
    padding: 0 15px;
}

.section {
    margin-bottom: 48px;
}

/*?text-format*/
.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.link {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

@media only screen and (min-width: 62em) {
    .text-lg-center {
        text-align: center;
    }

    .text-lg-left {
        text-align: left;
    }

    .text-lg-right {
        text-align: right;
    }

    .contents {
        padding: 0;
    }

    // .section {
    //     margin-bottom: 96px;
    // }
}

/*========== main ==========*/
header {
    box-shadow: 0px 0px 3px 0px $color-black;
    text-transform: uppercase;
    padding: 0 1em;
    position: fixed;
    background-color: $color-white;
    z-index: 200;
}

@media only screen and (min-width: 62em) {
    header {
        padding: 0 3em !important;
    }
}
// /*========== card ==========*/

.card {
    background: $color-white;
    border-radius: 5px;
    padding: 15px;
    min-height: 80vh;
    margin-top: 2em;
}
@media only screen and (min-width: 62em) {
    .card {
        padding: 15px 30px 30px 30px;
    }
}

.card .card-header {
    margin-bottom: 15px;
}
// /*========== nav ==========*/
.nav-container {
    display: flex;
    justify-content: center;
}

.nav-icon {
    padding: 0.75em 1.5em !important;
}

@media only screen and (min-width: 62em) {
    .nav-item {
        max-height: 3em;
    }
}

.nav-item {
    position: relative;
    font-size: 1em;
    color: $color-black;
    padding: 1em 1.5em;
    text-transform: capitalize;
    cursor: pointer;
}

.nav-mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: fixed;
    //
    .nav-container {
        top: 0;
        left: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        padding-top: 2em;
        position: relative;
        text-transform: capitalize;
        justify-content: flex-start;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: 102;
    }
    &.hide-item {
        transition-delay: 0.3s;
    }

    &.show-item > .nav-container {
        transform: translateX(0);
    }

    .btn-classic {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25em;
    }

    .overlay {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100vw;
        opacity: 0.3;
        z-index: 101;
    }
}

// /*========== cart-icon ==========*/
// .cart-shopping {
//     position: relative;
// }

// .cart-shopping > #cart-items {
//     top: -40%;
//     right: -40%;
//     position: absolute;
//     font-size: 10px;
//     font-weight: bold;
//     border-radius: 50%;
//     width: 20px;
//     line-height: 20px;
//     text-align: center;
//     height: 19px;
// }

/*============= policy =============*/
.policy-item {
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
}

.policy .policy-item {
    border-radius: 10px;
    max-height: 80px;
    margin: 0 auto;
}

.policy-item > .policy-icon {
    max-width: 40px;
    padding-right: 2em;
    box-sizing: content-box;
}

@media only screen and (min-width: 62em) {
    .policy-item {
        max-width: 80%;
    }
}

// /*============= product =============*/
// .product {
//     padding-bottom: 3em;
//     animation-name: fadeIn;
//     animation-duration: 0.3s;
// }

// .product .product-img {
//     margin-bottom: 1em;
// }

// .product .product-content {
//     text-align: center;
//     cursor: pointer;
//     width: 100%;
// }

// .product .product-sale,
// .product del {
//     display: none;
// }

// .product.sale .product-sale,
// .product.sale del {
//     display: inline-block;
// }

// .product.sale .product-img .product-sale {
//     position: absolute;
//     left: 3%;
//     top: 3%;
//     font-size: 1.125em;
//     font-weight: bold;
//     padding: 0.35em 0.75em;
//     color: $color-white;
//     background-color: $color-red;
//     z-index: 100;
//     min-width: 50px;
//     text-align: center;
//     border-radius: 5px;
// }

// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }

// @media only screen and (min-width: 62em) {
//     .product {
//         padding-bottom: 4em;
//     }

//     .product-text {
//         padding: 0 6em;
//     }

//     .product-text p {
//         font-size: 1.25em;
//     }

//     .product.sale .product-img::before {
//         padding: 0.5em 1em !important;
//     }

//     .product .product-img .add-cart {
//         position: absolute;
//         color: $color-white;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         padding: 0.8em 2em;
//         margin-left: 3em;
//         transition: all 0.16s;
//         opacity: 0;
//         z-index: -1;
//     }

//     .product .product-img::after {
//         content: "\f217";
//         display: block;
//         right: 0;
//         bottom: 0;
//         width: 1.9em;
//         color: $color-white;
//         font-size: 20px;
//         font-weight: 900;
//         position: absolute;
//         border-top-left-radius: 25%;
//         transition: all 0.15s ease-in-out, border-radius 0.15s linear;
//         font-family: "Line Awesome Free";
//         background-color: $color-black;
//         padding: 0.35em 0.125em 0.125em 0.45em;
//         z-index: 98;
//     }

//     .product .product-img:hover .add-cart {
//         opacity: 1;
//         z-index: 99;
//     }

//     .product .product-img:hover::after {
//         border-radius: 0;
//         width: 100%;
//         padding: 0.4em 4em;
//     }
// }
/*============= ?dropdown =============*/
// .dropdown {
//     width: 175px;
//     display: inline-block;
//     border-radius: 1px;
//     transition: all 0.5s ease;
//     position: relative;
//     font-size: 1em;
//     text-align: left;
// }

// .dropdown .select {
//     cursor: pointer;
//     display: block;
//     padding: 1em;
// }

// .dropdown .select > i {
//     font-size: 1em;
//     cursor: pointer;
//     transition: all 0.3s ease-in-out;
//     line-height: 1em;
//     float: right;
// }

// .dropdown:focus {
//     outline: none;
// }

// .dropdown:hover {
//     box-shadow: 0 0 4px rgb(204, 204, 204);
// }

// .dropdown.active .select > i {
//     transform: rotate(-90deg);
// }

// .dropdown .dropdown-menu {
//     position: absolute;
//     width: 100%;
//     left: 0;
//     margin-top: 1px;
//     box-shadow: 0 1px 3px rgb(204, 204, 204);
//     border-radius: 0 1px 2px 2px;
//     overflow: hidden;
//     display: none;
//     overflow-y: scroll;
//     z-index: 299;
//     height: 250px;
//     padding: 0;
//     list-style: none;
// }

// .dropdown .dropdown-menu li {
//     padding: 1em;
//     transition: all 0.2s ease-in-out;
//     cursor: pointer;
// }

// .dropdown .dropdown-menu li:hover {
//     background-color: #f2f2f2;
// }

// .dropdown .dropdown-menu li:active {
//     background-color: #e2e2e2;
// }

/*============= ?tabel =============*/
table {
    width: 100%;
}

.table {
    border-collapse: collapse;
}

.table td {
    padding: 0.75em;
}

.table td[scope="row"] {
    font-weight: bold;
    text-transform: capitalize;
}

.table.table-color tr:nth-of-type(2n + 1) {
    background-color: whitesmoke;
}

/*============= ?cart=============*/
// .cart .btn:hover {
//     background-color: black;
//     color: white !important;
// }

// .cart .cart-item {
//     border-bottom: 1px solid #111;
//     padding: 1em 0;
// }

// .cart .dropdown {
//     width: 100%;
// }

// .cart .dropdown .select {
//     border-radius: 5px;
//     border: 2px solid $color-secondary;
// }

// #bill .table tr td:last-child {
//     text-align: right;
// }

// #bill .btn {
//     min-width: 250px;
// }

/*============= ?filter =============*/
.filter .nav-item {
    text-transform: capitalize;
}

.filter .nav-item.active {
    font-weight: bold;
}

