<div *ngIf="order==null" class="container text-center py-5"> Order not found </div>
<div *ngIf="order!=null" class="container pt-5">
    <div  *ngIf="isRequest"  style="padding:16em 0">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!isRequest" class="cart contents">    
        <div *ngIf="isShowDetail" class="row mb-3">
            <div class="col-3">
                <p>OrderID: {{order?.id}}</p>
            </div>
            <div class="col-3">
                <p>Date Ordered: {{order?.dateCreated}}</p>
            </div>
            <div class="col-6 text-right">
                <p>Status: {{order?.status}}</p>
            </div>
        </div>          
        <!-- Bill Info-->
        <div id="bill" class="section">
            <div class="row mb-4">
                <div class="col-12 col-lg-6 order-lg-1 section">
                    <!-- Cart - Shopping -->
                    <div class="section">
                        <!--Cart - Header List-->
                        <div class="d-flex align-items-center">
                            <h3 class="mb-4">Sản phẩm</h3>
                            <p class="ml-auto"> <span > {{quantityVal}} </span> sản phẩm<p>
                        </div>
                        <!--Cart - List Item-->
                        <div id="cart-container">
                            <app-loader *ngIf="!isLoaded"></app-loader>
                            <p class="text-center py-5" *ngIf="isLoaded && listItem.length == 0">Not item in cart</p>
                            <div *ngIf="isLoaded && listItem.length > 0">
                                <app-cart-item *ngFor="let item of listItem" [itemId]="item.productId" [isChange]="false" ></app-cart-item>
                            </div>
                        </div>
                    </div>  
                    <table class="table text-right">
                        <tbody >
                            <tr>
                                <td>Tổng đơn hàng</td> 
                                <td>
                                    <paser-value [rawVal]="totalAmountVal"></paser-value>
                                </td> 
                            </tr>
                            <tr>
                                <td>Giảm giá Bill</td> 
                                <td>
                                    <paser-value [rawVal]="promtionVal"></paser-value>
                                </td> 
                            </tr>
                            <tr *ngFor="let item of listFees">
                                <td>{{item.name}}</td> 
                                <td>
                                    <paser-value [rawVal]="item.cost"></paser-value>
                                </td> 
                            </tr>
                            <tr class="bold">
                                <td>Thanh Toán</td> 
                                <td class="red text-4">
                                    <paser-value [rawVal]="totalPayVal"></paser-value>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                    <!-- Method Pay-->
                    <div >
                        <p>Choose Method Payment</p>
                        <mat-radio-group  [formControl]="methodPay" >
                            <mat-radio-button class="d-block mb-3" [disabled]="isShowDetail" *ngFor="let method of listMethodPays" [value]="method.id">
                                {{method.name}}
                            </mat-radio-button>
                        </mat-radio-group>  
                    </div>
                </div>
                <!--Form-->
                <div class="col-12 col-lg-6 order-lg-0">
                    <h3 class="mb-4">Thông tin giao hàng</h3>    
                    <div class="row">
                        <p class="col-4 bold">Name</p>
                        <p class="col-8">{{order?.questName ? order.questName :"Empty"  }}</p>
                    </div>
                    <div class="row">
                        <p class="col-4 bold">Phone</p>
                        <p class="col-8">{{order?.questPhone ? order.questPhone :"Empty" }}</p>
                    </div>
                    <div class="row">
                        <p class="col-4 bold">Email</p>
                        <p class="col-8">{{order?.questEmail ? order.questEmail : "Empty"}}</p>
                    </div>
                    <div class="row">
                        <p class="col-4 bold">Province</p>
                        <p class="col-8">{{order?.questProvince ? order.questProvince : "Empty"}}</p>
                    </div>
                    <div class="row">
                        <p class="col-4 bold">District</p>
                        <p class="col-8">{{order?.questDistrict ? order.questDistrict : "Empty"}}</p>
                    </div>
                    <div class="row">
                        <p class="col-4 bold">Address</p>
                        <p class="col-8">{{order?.questAddress ? order.questAddress : "Empty"}}</p>
                    </div>
                    <div class="row">
                        <p class="col-4 bold">Note</p>
                        <p class="col-8">{{order?.note ? order.note : "Empty"}}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!isShowDetail" class="text-center">
                <button class="btn btn-lg bg-black white border-none" (click)="onSubmit()"> Tiếp tục </button>
            </div>
        </div>
    </div> 
</div>