<div class="card">
    <div class="card-header">
        <div class="row align-items-baseline">
            <div class="col-3">
                <h3 class="">ACCOUNTS</h3>
            </div>
            <div class="col-4">
                <mat-form-field floatLabel="never" class="w-80" appearance="">
                    <input  matInput placeholder="Search user ..">
                </mat-form-field>
            </div>
            <div class="ml-auto">
                <a class="btn btn-sm bg-blue white px-lg-4" type="button" (click)="onCreate()">Create</a>
            </div>
        </div>
    </div>
    <div class="card-content">
        <app-container [config]="container">
            <table mat-table [dataSource]="tableData">
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef>User ID</th>
                    <td mat-cell *matCellDef="let item">{{item.id ? item.id : "Unknown"}}</td>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>User Name </th>
                    <td mat-cell *matCellDef="let item">{{item.name ? item.name: "Unknown"}}</td>
                </ng-container>
                <ng-container matColumnDef="Phone">
                    <th mat-header-cell *matHeaderCellDef>Phone number</th>
                    <td mat-cell *matCellDef="let item">{{item.phone ? item.phone : "Unknown"}}</td>
                </ng-container>

                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let item">{{item.email ? item.email : "Unknown"}}</td>
                </ng-container>
                <ng-container matColumnDef="Role">
                    <th mat-header-cell *matHeaderCellDef style="width:150px">Role</th>
                    <td mat-cell *matCellDef="let item" class="text-center">
                        <app-dropdown [listItem]="listRole" [defName]="item.roleName"
                            (choose)="onChangeRole($event, item.id)"></app-dropdown>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef style="width:200px"></th>
                    <td mat-cell *matCellDef="let item" class="text-center">
                        <a routerLink="../user-detail/{{item.id}}" class="text-2 btn-icon blue pr-3 pr-lg-5">
                            <i class="las la-chevron-circle-right"></i>
                        </a>
                        <span (click)="onRemove(item.id)" class=" btn-icon red text-2">
                            <i class="lar la-trash-alt "></i> 
                        </span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['Id','Name' ,'Phone','Email','Role','Action']">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['Id','Name' ,'Phone','Email','Role','Action'];">
                </tr>
            </table>
            <mat-paginator [ngClass]=" (container.isLoaded && listUser?.length >5) ? '': 'hide'"
                [pageSizeOptions]="[5, 10, 15]">
            </mat-paginator>
        </app-container>
    </div>
</div>